@use '../../../../styles/variables.scss';

.article-info {
  &__title {
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 3px;
    font-weight: 600;
  }

  &__summary {
    margin-top: 6px;
    font-size: 13px;
    color: variables.$gray-400;
  }
}
