@use '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.wrapper {
  background-color: variables.$white;
  border-bottom: 1px solid variables.$slate-200;
}

.ticketing-step-wrap {
  display: flex;
  &__item {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    color: variables.$gray-400;
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 12px;

    &--active {
      color: variables.$sky-500;
    }

    &__icon {
      height: 20px;
      width: 20px;
    }

    &:not(:last-child)::after {
      position: absolute;
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid variables.$gray-400;
      top: 50%;
      right: -6px;
      transform: translateY(-50%);
      z-index: 1;
    }
    &:not(:last-child) span::after {
      position: absolute;
      content: '';
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid variables.$white;
      top: 50%;
      right: -5px;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
}
