@use '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.showtimes {
  &__banner {
    color: variables.$white;
    background-image: url('../../assets/images/showtimes-banner.png');
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    &__title {
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 12px;
    }
    &__description {
      font-size: 15px;
    }
    @include respond-to(xl) {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-content {
    padding-top: 12px;
    padding-bottom: 12px;
    display: grid;
    gap: 24px;

    @include respond-to(sm) {
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 16px;
    }
  }

  &__cinema-branch-form {
    display: grid;
    gap: 20px;
    &__select {
      width: 100%;
    }
    @include respond-to(sm) {
      display: none;
    }
  }
}

.provinces {
  display: none;
  @include respond-to(sm) {
    display: block;
    grid-column: span 3 / span 3;
  }
}

.cinemas {
  display: none;
  @include respond-to(sm) {
    display: block;
    grid-column: span 3 / span 3;
  }
}

.screenings {
  display: grid;
  gap: 12px;
  height: fit-content;
  @include respond-to(sm) {
    grid-column: span 6 / span 6;
  }
}
