@use '../../../../styles/variables.scss';
@import '../../../../styles/responsive.scss';

.wrap {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @include respond-to(sm) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.content-wrap {
  @include respond-to(sm) {
    grid-column: span 8 / span 8;
  }

  & > * {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 24px;
    }
  }
}

.view-more-btn {
  background-color: variables.$slate-400;
  color: variables.$slate-700;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
}
