@use '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: variables.$white;

  &__title {
    font-weight: 700;
    font-size: 28px;
    color: variables.$sky-500;
  }

  &__icon {
    color: variables.$gray-500;
    height: 24px;
    width: 24px;
  }

  &__left-icons {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.25s all linear;
    background-color: variables.$white;
    border-top: 1px solid variables.$gray-300;

    &--collage {
      grid-template-rows: 1fr;
      border-bottom: 1px solid variables.$gray-300;
    }
  }
}

.nav-menu {
  overflow: hidden;

  &__item {
    color: variables.$gray-500;
    font-size: 14px;
    padding: 8px 16px;
  }
}